.product {
  background-color: #fff;
  font-size: 2rem;
  color: #333;
}

.product .main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product .imgContainer {
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.product .imgContainer img {
  box-shadow: 1px 1px 5px 1px #d5d5d5;
  border-radius: 5px;
  width: 30rem;
  height: 31rem;
  padding: 1rem 0;
}

.product .description {
  box-shadow: 1px 1px 5px 1px #d5d5d5;
  padding: 2rem;
  min-width: 30rem;
}

.seller {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  padding-right: 2rem;
}
.seller span:first-child {
  display: flex;
  gap: 1rem;
}

.seller span:last-child {
  font-size: 1.4rem;
  color: #15803d;
}


.description .priceContainer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.description .mainPrice {
  text-decoration: line-through;
  font-size: 1.4rem;
  opacity: 0.7;

}

.description .offPrice {
  display: flex;
  gap: 1rem;
}

.badge {
  background-color: #bbf7d0;
  color: #15803d;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.4rem;
}

.description .available {
  display: block;
  font-size: 1.2rem;
  background-color: #bbf7d0;
  color: #15803d;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.description .unavailable {
  font-size: 1.4rem;
  background-color: #fee2e2;
  color: #b91c1c;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.detail {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
  background-color: #15803d;
  color: #bbf7d0;
  font-size: 1.6rem;
}

.specifications {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  border-radius: 5px;
}

.specifications li {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.specifications li:nth-child(odd) {
  background-color: #eee;
}

@media screen and (min-width: 1024px) {
  .product .main {
    flex-direction: row;
    align-items: center;
    padding-top: 3rem;
  }

  .product .imgContainer {
    width: 50%;
  }

  .product .description {
    height: fit-content;
  }
}
