.mainHeader {
  background-color: #fff;
  width: 100vw;
  font-size: 2rem;
  color: #444;
  padding: 2rem 0;
}

.mainHeader .container {
  display: flex;
  flex-direction: column;
}

.topHeader {
  display: flex;
  justify-content: space-between;
}

.topHeaders {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-weight: 700;
  color: #15803d;
}

.searchBox input {
  outline: none;
  border: 1px solid #15803d;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 40rem;
  background-color: #fff;
  color: #15803d;
}

.searchBox input:focus {
  border: 2px solid #15803d;
}

.searchBox input:focus::placeholder {
  color: #15803d;
  opacity: 0.7;
}

.headerMenu {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.4rem;
}

.menuItem {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
}

.menuItem::after {
  content: "";
  right: 0;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  background-color: #15803d;
  position: absolute;
  transition: 0.3s;
}

.menuItem:hover::after {
  width: 100%;
}

.menuItem:hover {
  color: #15803d;
}

.menuItem:hover .subMenu {
  display: block;
}

.subMenu,
.subMenu2 {
  display: none;
  position: absolute;
  top: 100%;
  width: 30rem;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
  padding-top: 3rem;
}

.subMenuItem {
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.subMenuItem:hover {
  color: #15803d;
  background-color: #eee;
}

.subMenuItem:hover .subMenu2 {
  display: block;
  right: 100%;
  top: 0;
}

.btn {
  outline: none;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  color: #15803d;
  border: 1px solid #15803d;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #15803d;
  color: #fff;
}

.icon {
  font-size: 3.5rem;
  color: #15803d;
  cursor: pointer;
}
