.mainHeader {
  background-color: #fff;
  width: 100%;
  font-size: 2rem;
  color: #444;
  padding: 2rem 1rem 0 1rem;
}

.mainHeader .container {
  display: flex;
  flex-direction: column;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}

.topHeaders {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottomHeader {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 700;
  color: #15803d;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: 0.3s;
  z-index: -99;
}

.backdropOn {
  z-index: 99;
  opacity: 1;
}

.searchBox {
  height: fit-content;
  transition: 0.3s;
  border: 1px solid #15803d;
  border-radius: 5px;
  position: absolute;
  margin-right: 10rem;
  top: 2.5rem;
  width: 40vw;
}

.searchOn {
  z-index: 100;
  padding: 1rem;
  background-color: #fff;
  max-height: 30rem;
  overflow: auto;
}

.searchBox input {
  outline: none;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #15803d;
}

.searchBox input:focus {
  border-bottom: 2px solid #15803d;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem;
}

.searchBox input:focus::placeholder {
  color: #15803d;
  opacity: 0.7;
}

.filteredBox {
  border-radius: 5px;
  display: none;
  width: 100%;
}

.filteredBoxOn {
  display: block;
}

.filteredBox .filteredProduct {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.filteredBox .filteredProduct:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.filteredProduct .imgContainer {
  width: 5rem;
  height: auto;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.headerMenu {
  gap: 1.5rem;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  right: -200rem;
  padding: 1rem;
  background-color: #fff;
  transition: all 0.3s;
  user-select: none;
}

.headerMenu::-webkit-scrollbar {
  display: none;
}

.showMobileMenu {
  right: 0;
}

.headerMenu .menuItem {
  margin: 1rem 0;
}

.closeBtn {
  font-size: 3rem;
  cursor: pointer;
}

.closeBtn:hover {
  color: #15803d;
}

.menuBtn {
  color: #15803d;
  cursor: pointer;
  font-size: 2.5rem;
}

.menuItem {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
}

.menuItem::after {
  content: "";
  right: 0;
  bottom: -0.5rem;
  width: 0;
  height: 2px;
  background-color: #15803d;
  position: absolute;
  transition: 0.3s;
}

.menuItem span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.subMenu {
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  padding-top: 1rem;
  padding-right: 2rem;
  overflow: visible;
  height: fit-content !important;
  transition: padding-top 0.3s, height 0.3s;
}

.hide {
  height: 0;
  transition: padding-top 0.3s, height 0.3s;
  overflow: hidden;
}

.active {
  color: #15803d;
}

.subMenuItem {
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.subMenuItem:hover {
  color: #15803d;
}

.btn {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #15803d;
  border: 1px solid #15803d;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #15803d;
  color: #fff;
}

.cartIcon {
  position: relative;
}

.cartIcon .cartCount {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -1.2rem;
  left: -0.8rem;
  background-color: #bbf7d0;
  color: #15803d;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.icon {
  font-size: 3.5rem;
  color: #15803d;
  cursor: pointer;
}

/* medias */

@media screen and (min-width: 1024px) {
  .topHeader {
    flex-direction: row;
  }

  .menuBtn,
  .closeBtn {
    display: none;
  }

  .headerMenu {
    visibility: visible;
    display: flex;
    position: static;
    padding: 0;
    overflow: visible;
    margin-top: 1.4rem;
  }

  .menuItem:hover::after {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .menuItem:hover .hide {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 20rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    overflow: visible;
    height: fit-content;
    transition: padding-top 0.3s, height 0.3s;
  }

  .menuItem:hover {
    color: #15803d;
  }

  .menuItem span {
    width: fit-content;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .subMenuItem {
    margin: 1rem 0 0 0;
  }

  .subMenuItem:hover {
    background-color: #eee;
  }

  .hidden {
    display: none;
  }
}
