.products {
  background-color: #fff;
  width: 100%;
}

.products .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters .filterTitle {
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.showFilters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.showFilters .filterTitle {
  display: none;
}

.filters .filterList {
  top: -200rem;
  transition: all 0.3s;
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 100%;
  right: 0;
  font-size: 2rem;
  overflow: auto;
  padding-top: 2rem;
  user-select: none;
}

.filterList .btn {
  display: block;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
}

.filters .filterListShow {
  top: 0;
}

.filters .filterItemName {
  background-color: #f6f6f6;
  width: 95%;
  margin: auto;
  display: block;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filters .subFilterList {
  width: 95%;
  margin: 0 auto;
  font-size: 1.6rem;
  transition: padding-top 0.3s;
  height: 0;
  overflow: hidden;
}

.filters .showSub {
  height: fit-content;
  padding: 1rem 2rem;
}

.subFilterItem input,
.subFilterItem label {
  cursor: pointer;
  margin-left: 1rem;
}

.active {
  color: #15803d;
}

.icon {
  font-size: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  margin-right: 3rem;
}

.icon:hover {
  color: #15803d;
}

.productsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.product {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 2rem 0.5rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
  color: #333;
  transition: box-shadow 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  max-height: 25rem;
}

.product:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.product .imgContainer {
  width: 15rem;
  height: 15rem;
}

.product .imgContainer img {
  width: 100%;
  height: 100%;
}

.product .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.description .productName {
  font-size: 1.8rem;
  font-weight: 700;
}

.description .available {
  font-size: 1.2rem;
  background-color: #bbf7d0;
  color: #15803d;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.description .unavailable {
  font-size: 1.2rem;
  background-color: #fee2e2;
  color: #b91c1c;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.description .priceContainer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.description .mainPrice {
  text-decoration: line-through;
  font-size: 1.4rem;
  color: #777;
}

.description .offPrice {
  display: flex;
  gap: 1rem;
}

.badge {
  background-color: #bbf7d0;
  color: #15803d;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.4rem;
}

.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #15803d;
  color: #bbf7d0;
  border-radius: 5px;
  max-width: 13rem;
  cursor: pointer;
}

.noProduct {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  gap: 1rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px) {
  .filters .filterList {
    position: static;
    width: 100%;
    margin-left: 10rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    height: fit-content;
    max-height: 40rem;
    overflow: auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
    padding: 0;
  }

  .filters .filterList::-webkit-scrollbar {
    display: none;
  }

  .showFilters {
    position: static;
    width: auto;
    background-color: initial;
  }

  body {
    overflow: visible !important;
  }
  .filters .filterTitle {
    display: none;
  }

  .icon {
    display: none;
  }

  .products .productsDesktop {
    display: flex;
    gap: 2rem;
  }

  .productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1rem;
  }
}
