* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
/* fonts */
@font-face {
  font-family: "vazir";
  src: url(./font/vazir/Vazir-FD.woff);
}

@font-face {
  font-family: "vazirBold";
  src: url(./font/vazir/Vazir-Bold-FD.woff);
}
html {
  font-size: 62.5%;
  direction: rtl;
}
body {
  font-family: "vazir";
  background-color: #f3f4f6;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
